# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
packages/
Project/shared/
Project/imgui.ini
memo_videoDevice.txt
GFW.VC.VC.opendb
GFW.VC.db
Project/resrc/
