*.db
*.txt

bin/
obj/
packages/
Project/shared/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/GFW/v14
/GFW.VC.VC.opendb
/ipch/GFW-43791a6a
/Project/resrc
/save
/Project/imgui.ini
